.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
  }
.book {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-top: 1px solid grey;
  padding-top: 10px;
}
app-book {
  margin-left: auto;
}
.navigate {
    p-button {
      margin-right: 10px;
    }
}