<div class="wrapper">
    <div><h3>Material</h3><span>{{material.Material}}</span></div>
    <div><h3>Quantity</h3><span>{{material.Quantity}}</span></div>
    <div><h3>DescTxt</h3><span>{{material.DescTxt}}</span></div>
    <div><h3>CustomerPrice</h3><span>{{material.CustomerPrice}}</span></div>
    <div><h3>CustomerCurrency</h3><span>{{material.CustomerCurrency}}</span></div>
    <div><h3>RepairPrice</h3><span>{{material.RepairPrice}}</span></div>
    <div><h3>RepairCurrency</h3><span>{{material.RepairCurrency}}</span></div>
    <div><h3>Available</h3><span>{{material.Available}}</span></div>
    <div><h3>ExtUnit</h3><span>{{material.ExtUnit}}</span></div>
    <div><h3>MatStatus</h3><span>{{material.MatStatus}}</span></div>
    <div><h3>StorageLoc</h3><span>{{material.StorageLoc}}</span></div>
    <div><h3>StorageLocDesc</h3><span>{{material.StorageLocDesc}}</span></div>
    <div><h3>NDFQuote</h3><span>{{material.NDFQuote}}</span></div>
    <div><h3>NDFCounter</h3><span>{{material.NDFCounter}}</span></div>
    <div><h3>TSPercentage</h3><span>{{material.TSPercentage}}</span></div>
    <div><h3>TSPercentageCounter</h3><span>{{material.TSPercentageCounter}}</span></div>
</div>
<div class="book">
    <div class="navigate">
        <p-button [disabled]="rowIndex === 0" (onClick)="navigateMaterial(rowIndex-1)" icon="pi pi-chevron-left" styleClass="p-button-rounded"></p-button>
        <p-button [disabled]="rowIndex == (materials.length - 1)" (onClick)="navigateMaterial(rowIndex+1)" icon="pi pi-chevron-right" styleClass="p-button-rounded"></p-button>
    </div>
    <app-book [rowIndex]="rowIndex" class="detail-book"></app-book>
</div>

